section.about_us#aboutme
	.container
		.section__row-1
			.about-me
				.about-me--photo
					img(src="img/section/about_me/myphoto.jpg", alt="")
				.about-me--info
					.about-me--title Вітаю вас у просторі “Горіхів та смаколиків”.
					.about-me--text Мене звати Ігор Шведун. Я засновник цього невеликого, але смачного діла. Бізнесу по горіхам та сухофруктам вже більше 4 років. За цей час я отримав достатній досвід та експертність в ділі, котрим захоплююсь. З радістю буду ділитися цим з вами. Займаюсь психологією, йогой, підтримую здоровий спосіб життя.
					.about-me--code Наші принципи:
						ul 
							li Ми продаємо тільки добірні сирі горіхи, натуральні і необроблені сухофрукти. Інші корисні і екологічні продукти.
							li Всі продукти перевірені особисто.
							li Стежимо за якісним сервісом і орієнтовані на ваші запити і потреби.
							li Будуємо довгострокові відносини з кожним з вас. Цінуємо нашу репутацію.
							li Швидкість обслуговування. Відправки новою поштою або доставки кур'єром, дають можливість економити ваш дорогоцінний час.
							li Висока якість добірної продукції і демократичні ціни.
		.section__row-2
			.social
				.social__list.social__list--center
					a(href="https://www.facebook.com/igor.shvedun" target="_blank").social__list-item.fb
					a(href="https://www.instagram.com/igorshvedun/" target="_blank").social__list-item.instagram
					a(href="https://t.me/Zdes_Seychas").social__list-item.other
		.section__row-3
			.quote
				.quote-text Турбота про своє здоров'я стає найважливішим пріоритетом в сучасному світі. І ми робимо все можливе, щоб створювати місця екологічних продуктів і комфортних ринкових відносин.
		.section__row-4
			.signature
				img(src="img/section/about_me/signature3.jpg", alt="")