.delivery-modal
	.delivery__list.animated
		.delivery__list-item
			.delivery-title В умовах карантину! кур'єрська доставка додому від нової пошти.
			.delivery-img
				img(src="img/section/delivery/delivery.png", alt="")
		.delivery__list-item 
			.delivery-description Вартість кур'єрської доставки додому:
		.delivery__list-item 
			.delivery-text Замовлення до 1500 грн. - 70 грн. доставка.
			.delivery-text Замовлення від 1500 - 2000 грн. - 30 грн. доставка.
			.delivery-text Замовлення от 2000 грн. - доставка за наш рахунок.
		button.button.button-thanks Ознайомився