.delivery-modal
	.delivery__list.animated
		.delivery__list-item
			.delivery-title КУР'ЄРСЬКА ДОСТАВКА ДОДОМУ
			.delivery-img
				img(src="img/section/delivery/delivery.png", alt="")
		.delivery__list-item 
			.delivery-description В умовах карантину та самоізоляції ви можете замовити нашу продукцію для вас або ваших близьких в будь-яке місце України з доставкою прямо ДОДОМУ. За допомогою кур'єрської доставки Нова Пошта.
			.delivery-text При замовленні до 1500 грн. вартість кур'єрської доставки - 70 грн.
			.delivery-text ППри замовленні від 1500 - 2000 грн. вартість кур'єрської доставки - 30 грн.
			.delivery-text При замовленні від 2000 грн. кур'єрська доставка - за наш рахунок.
			button.button.button-thanks Замовити