section.faq#faq
  .container
    .section__row-1
      .faq_box
        .faq_item
          .faq_item_body--img
            img(src="img/section/faq/jar.jpg", alt="молоко + орехи")
          .faq_item_body
            .faq_item_title Як зберігати?
            .faq_item_body--text
              ul
                li Горіхи повинні зберігатися в закритій тарі без доступу повітря і попадання сонячних променів.
                li Кедр зберігається в холодильнику.
                li Сухофрукти, крім родзинок, зберігаються в холодильнику.
                li Термін зберігання горіхів до 6 міс.Термін зберігання кураги та чорносливу 2-3 тижні. Родзинок 2-3 міс.
        .faq_item
          .faq_item_body--img
            img(src="img/section/faq/nuts.jpg", alt="орехи и сухофрукты")
          .faq_item_body
            .faq_item_title Замочувати горіхи і сухофрукти?
            .faq_item_body--text Горіхи і сухофрукти після замочування віддають максимум користі організму. Для замочування підходять: мигдаль, кеш'ю, фундук, волоський, сира фісташка. Сухофрукти можна замочувати всі. Для цього - заливаємо горіхи і сухофрукти на ніч водою. На ранок вони готові до вживання.
        .faq_item
          .faq_item_body--img
            img(src="img/section/faq/milk.jpg", alt="молоко + орехи")
          .faq_item_body
            .faq_item_title Горіхове молоко
            .faq_item_body--text Так, заради цієї смакоти варто купувати сирі горіхи.) Після замочування сирих горіхів з них виходить чудове і корисне рослинне молоко. Беремо жменю замоченних горіхів, додаємо пів чашки води і збиваємо на блендері. Віджимаємо через марлю або ситечко. Божественний напій готовий. Смачного.
