section.feedback#feedback
	.container
		.section__row-1
			h2 Відгуки
			.feedback-clients
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/Svetlana.png", alt="Svetlana")
					.feedback-clients--info
						.clients--name Светлана Савчук
						a(href="https://www.facebook.com/savchuksvitlana", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Ігор, доброго ранку. Курагааааа.... ммммммм!) В О С Т О Р Г.Дякую Вам за таку якість! В мене наступне замовлення: збираюсь до мами в гості)))1 кг кураги, 0,5 кг Ізюм та 1 кг кешью.
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/Sergey.png", alt="Sergey")
					.feedback-clients--info
						.clients--name Сергей Новик
						a(href="https://www.facebook.com/Sergey.Novik2", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Добрый день, Игорь! Все очень вкусно, благодарю! Финики и фисташки - особенно)Буду еще у вас брать и рекомендовать друзьям.
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/Anastasia2.png", alt="Anastasia")
					.feedback-clients--info
						.clients--name  Анастасия Уманская
						a(href="https://www.facebook.com/anastasiya.umanskaya.9", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Здравствуйте, Игорь. Из первого заказа, уже все съели, отличные орехи!Хочу дозаказать: кешью 1 кг, миндаль 0,5 кг, финики, кедр 0,5
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/Victoria.png", alt="Victoria")
					.feedback-clients--info
						.clients--name Виктория Кодрин
						a(href="https://www.facebook.com/victoria.kodrin", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Привет Игорь! Все супер, отличное качество! Благодарю.А шафран-аромат))) сказка. Ждите новых клиентов от меня. )
				.feedback-clients__item
					.feedback-clients--photo
						img(src="img/section/feedback/slider/user/Anastasia.png", alt="Anastasia")
					.feedback-clients--info
						.clients--name Анастасия Латынина
						a(href="https://www.facebook.com/profile.php?id=100003104973918n", target="_blank", rel="noopener noreferrer").clients--fblink
						.clients--text Получила!Благодарю. Так красиво! Могу отметить в Инстаграмм, если вы там есть 🙂Вкуснее сухофруктов в жизни не пробовала!Спасибо!!!
