header.header
	.header__wrapper
		.container
			.header__row-1
				.header-inner
					.header__logo
						img(src="img/header/logo.png", alt="")
					nav.menu
						ul.menu__list
							li.menu__list-item 
								a(href="#product").nav__link Наша продукція
							li.menu__list-item 
								a(href="#aboutme").nav__link Про Нас
							li.menu__list-item
								a(href="#faq").nav__link Корисності
							li.menu__list-item
								a(href="#feedback").nav__link Відгуки
							li.menu__list-item
								a(href="#contacts").nav__link Контакти
					a(href="tel:+380935051864").header__phone +38 093 505 18 64
					.lang
						a(href="index.html").ru RU
						a(href="ua.html").ua UA
					button(name="Подробно").burger__menu
			.header__row-2
				.header__info
					.header__info--wrap
						h1.header__info-title.header__info-title--ua Добірні горіхи та сухофрукти
						h3.header__tinfo-text Без обробки та консервантів
						a(href="#faq").button.button-header Корисності
						.header__info-delivery.animated.pulse відправка по Україні від 1500 грн - безкоштовно!
					.header__info-img