section.shop#shop-block
	.section__row-1
		.shop__promo
			.shop__promo-item Обирайте продукцію
				img(src="img/section/shop/icon/checkbox.png", alt="").shop__promo-img
			.shop__promo-item Вага фасування
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Данні для замовлення
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Замовити
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
				img(src="img/section/shop/icon/bayke.png", alt="").shop__promo-img
			.shop__promo-item Горіхи їдуть до вас!
	.section__row-2
		form(action="contact").ajax-contact-form
			.product#product
				.product__list
					.product__list-item
						.product-description Країна Грузія
						.product-title ФУНДУК Сирий
						.product-photo
							img(src="img/section/shop/product/funduc.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ФУНДУК 1кг" ).prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 350 грн
						label
							input(type="checkbox" name="price[]" value="ФУНДУК 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 175 грн
					.product__list-item
						.product-description Країна США
						.product-title Мигдаль Сирий
						.product-photo
							img(src="img/section/shop/product/mindal.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="МИНДАЛЬ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 335 грн
						label
							input(type="checkbox" name="price[]" value="МИНДАЛЬ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 180 грн
					.product__list-item
						.product-description Країна Індія / В'єтнам
						.product-title Кеш'ю Сирий
						.product-photo
							img(src="img/section/shop/product/keshq.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="КЕШЬЮ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 390 грн
						label
							input(type="checkbox" name="price[]" value="КЕШЬЮ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 195 грн
					.product__list-item
						.product-description Країна Бразилія
						.product-title Бразильський Сирий
						.product-photo
							img(src="img/section/shop/product/brazil.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="БРАЗИЛЬСЬКИЙ Сирий 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 450 грн
						label
							input(type="checkbox" name="price[]" value="БРАЗИЛЬСЬКИЙ Сирий 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 225 грн
					.product__list-item
						.product-description Країна США
						.product-title Фісташка Сира
						.product-photo
							img(src="img/section/shop/product/fistash.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ФИСТАШКА Сира 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 480 грн
						label
							input(type="checkbox" name="price[]" value="ФИСТАШКА Сира 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 240 грн
					.product__list-item
						.product-description Країна Україна
						.product-title Волоський Сирий
						.product-photo
							img(src="img/section/shop/product/gree.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ГРЕЦКИЙ Сирий 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 220 грн
						label
							input(type="checkbox" name="price[]" value="ГРЕЦКИЙ Сирий 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 110 грн
					.product__list-item
						.product-description Країна Австралія
						.product-title Макадамія Сира
						.product-photo
							img(src="img/section/shop/product/makadamiya.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="МАКАДАМИЯ Сира 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 920 грн
						label
							input(type="checkbox" name="price[]" value="МАКАДАМИЯ Сира 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 460 грн
					.product__list-item
						.product-description Країна Мексика
						.product-title ПЕКАН Сирий
						.product-photo
							img(src="img/section/shop/product/pekan.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ПЕКАН Сирий 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 590 грн
						label
							input(type="checkbox" name="price[]" value="ПЕКАН Сирий 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 295 грн
					.product__list-item
						.product-description Країна Росія
						.product-title КЕДР Сирий
						.product-photo
							img(src="img/section/shop/product/kedr.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="КЕДР Сирий 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 690 грн
						label
							input(type="checkbox" name="price[]" value="КЕДР Сирий 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 345 грн
					.product__list-item
						.product-description Країна Узбекистан
						.product-title Родзинки натуральні
						.product-photo
							img(src="img/section/shop/product/izum.jpg",  width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ИЗЮМ НАТУРАЛЬНЫЙ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 195 грн
						label
							input(type="checkbox" name="price[]" value="ИЗЮМ НАТУРАЛЬНЫЙ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 100 грн
					.product__list-item
						.product-description Країна Туреччина
						.product-title Курага Натуральна
						.product-photo
							img(src="img/section/shop/product/kuraga.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="КУРАГА НАТУРАЛЬНАЯ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 195 грн
						label
							input(type="checkbox" name="price[]" value="КУРАГА НАТУРАЛЬНАЯ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 100 грн
					.product__list-item
						.product-description Країна Молдова
						.product-title Чорнослив
						.product-photo
							img(src="img/section/shop/product/finik2.jpg", width="415px" height="278px" alt="")
						label
							input(type="checkbox" name="price[]" value="ЧЕРНОСЛИВ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 140 грн
						label
							input(type="checkbox" name="price[]" value="ЧЕРНОСЛИВ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 70 грн
			.section__row-2
				.container
					.order
						.order__list
							.order__list-item
							.order__list-item--note
								include ../blocks-ua/form.pug
							.order__list-item
								.order__list-text Поставте галочки навпроти обраної продукції.
								.order__list-text Заповніть форму і натисніть кнопку "Замовити".
								.order__list-text Ми зв'яжемося з вами для уточнення деталей доставки.