section.slogan
	.container
		.section__row-1
			.slogan-box
				.slogan-box__list
					.slogan-box__list-item
						.slogan-box--title Живі продукти
						.slogan-box--text Сирі горіхи. Натуральні сухофрукти. Без обробки.
					.slogan-box__list-item
						.slogan-box--title Зручна доставка
						.slogan-box--text Доставимо кур'єром або Новою поштою в короткий термін
					.slogan-box__list-item
						.slogan-box--title Гарна упаковка
						.slogan-box--text Стане приємним, красивим подарунком навіть для твого гуру.
					.slogan-box__list-item
						.slogan-box--title Хороша енергетика
						.slogan-box--text Про це ми теж дбаємо ;)