doctype html
html(lang='ua')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="description" content="Найсмачніші горіхи і сухофрукти. Тільки свіжі, тільки для вас!")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
		link(rel='stylesheet', href='css/style.css')
		title Орехи Вкусности
	body#body
		.wrapper
			include ../blocks-ua/header.pug
			.section
				include ../blocks-ua/about_us.pug
				include ../blocks-ua/shop.pug
				include ../blocks-ua/slogan.pug
				include ../blocks-ua/faq.pug
				include ../blocks-ua/feedback.pug
				include ../blocks-ua/contacts.pug
			include ../blocks-ua/modal.pug
		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/app.js?v78")
		script(src="js/contactform-ua.js")