.button {
	font-family: 'Circe';
	font-size: 16px;
	border-radius: 60px;
	background-color: $button;
	padding: 18px 50px;
	text-transform: uppercase;
	color: white;
	transition: 0.3s all;
	border: none;
}

.button:hover {
	box-shadow: 0px 0px 34px -3px rgba(255, 0, 67, 0.6);
	transition: 0.3s all;
}