.header {
  background-image: url("../img/header/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 973px;
}

.header__row-1 {
  padding-top: 30px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu__list-item {
  margin-left: 45px;
  transition: width 0.6s ease-in-out;
}

@media (max-width: 910px) {
  .menu__list-item {
    margin-left: 30px;
  }

  @media (max-width: 910px) {
    .menu__list-item {
      margin-left: 15px;
    }
  }
}

.menu__list-item::after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  background-color: $gold;
  transform: translateY(0.1rem);
  transition: width 0.6s ease-in-out;
}

.menu__list-item:hover:after,
.menu__list-item:focus:after {
  width: 100%;
}

.menu__list-item:first-child {
  margin-left: 0;
}

@media (max-width: 910px) {
  .menu__list-item:first-child {
    margin-left: 10px;
  }
}

.nav__link {
  font-family: "Circe";
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.header__phone {
  font-family: "Circe";
  color: white;
  font-weight: bold;
}

@media (max-width: 810px) {

  .header__phone,
  .menu {
    display: none;
  }
}

.burger__menu {
  display: none;
}

@media (max-width: 810px) {
  .burger__menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../img/header/1.png");
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.header__row-2 {
  margin-top: 55px;
  // padding-left: 280px;
  position: relative;
}

.header__wrapper {
  background-image: url("../img/header/nuts.png");
  background-position-x: 950px;
  background-position-y: 150px;
  background-repeat: no-repeat;
  background-size: 780px;
  min-height: 900px;
  color: $gold;
}

@media (max-width: 2685px) {
  .header__wrapper {
    background-position-x: 1300px;
  }
}

@media (max-width: 2508px) {
  .header__wrapper {
    background-position-x: 1200px;
  }
}

@media (max-width: 2293px) {
  .header__wrapper {
    background-position-x: 1100px;
  }
}

@media (max-width: 2085px) {
  .header__wrapper {
    background-position-x: 928px;
  }
}

@media (max-width: 1869px) {
  .header__wrapper {
    background-position-x: 900px;
  }
}

@media (max-width: 1734px) {
  .header__wrapper {
    background-position-x: 850px;
  }
}

@media (max-width: 1610px) {
  .header__wrapper {
    background-position-x: 750px;
  }
}

@media (max-width: 1585px) {
  .header__wrapper {
    background-position-x: 720px;
  }
}

@media (max-width: 1357px) {
  .header__wrapper {
    background-position-x: 600px;
  }
}

@media (max-width: 1274px) {
  .header__wrapper {
    background-position-x: 580px;
  }

  @media (max-width: 1035px) {
    .header__wrapper {
      background-position-x: 480px;
    }
  }

  @media (max-width: 882px) {
    .header__wrapper {
      background-position-x: 380px;
    }
  }

  @media (max-width: 435px) {
    .header__wrapper {
      background-position-x: 310px;
    }
  }

  @media (max-width: 400px) {
    .header__wrapper {
      background-position-x: 240px;
    }
  }
}


.header__info--wrap {
  max-width: 555px;
}

.header__info-title {
  font-family: $fair;
  font-size: 68px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

@media (max-width: 1060px) {
  .header__info-title {
    font-size: 60px;
  }

  @media (max-width: 940px) {
    .header__info-title {
      font-size: 50px;
    }

    @media (max-width: 932px) {
      .header__info-title--ua {
        max-width: 350px;
      }

      @media (max-width: 506px) {
        .header__info-title {
          font-size: 45px;
        }

        @media (max-width: 411px) {
          .header__info-title {
            font-size: 34px;
          }

          @media (max-width: 320px) {
            .header__info-title {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

.header__tinfo-text {
  font-family: "Circe";
  font-size: 26px;
  margin-bottom: 50px;
  margin-left: 20px;
  letter-spacing: 3px;
}

@media (max-width: 940px) {
  .header__tinfo-text {
    font-size: 22px;
  }
}

.button-header {
  margin-bottom: 90px;
  margin-left: 50px;
  display: inline-block;
}

@media (max-width: 420px) {
  .button-header {
    margin-left: 5px;
  }
}

.header__info-delivery {
  font-family: "Circe";
  font-size: 16px;
  text-transform: uppercase;
  color: #fcd7c7;
  line-height: 1.7;
  max-width: 285px;
  display: flex;
  align-items: center;
}

.header__info-delivery::before {
  content: "";
  background-image: url("../img/header/icon/delivery.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 33px;
  display: block;
  margin-right: 30px;
}

.header__info-delivery {
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.lang {
  position: absolute;
  top: 0;
  right: 0;
}

.ru,
.ua {
  color: white;
  font-size: 20px;
}

.ru::after {
  content: "";
  border-right: 1px solid white;
  margin: 0 8px;
}