section.about_us#aboutme
	.container
		.section__row-1
			.about-me
				.about-me--photo
					img(src="img/section/about_me/myphoto.jpg", alt="")
				.about-me--info
					.about-me--title Приветствуем вас в пространстве “Орехов и вкусностей”.
					.about-me--text Меня зовут Игорь Шведун. Я основатель этого небольшого, но вкусного дела. Бизнесу по орехам и сухофруктам уже более 4 лет. За это время я получил достаточный опыт и экспертность в деле, которым занимаюсь. С радостью буду делиться этим с вами. Занимаюсь психологией, йогой, поддерживаю здоровый образ жизни.
					.about-me--code Наши принципы:
						ul 
							li Мы продаем только отборные сырые орехи, натуральные и необработанные сухофрукты. Другие полезные и экологичные продукты.
							li Все продукты проверены лично.
							li Следим за качественным сервисом и ориентированы на ваши запросы и потребности.
							li Строим долгосрочные отношения с каждым из вас. Ценим нашу репутацию.
							li Быстрота обслуживания. Отправки новой почтой или доставки курьером, дают возможность экономить ваше драгоценное время.
							li Высокое качество отборной продукции и демократичные цены.
		.section__row-2
			.social
				.social__list.social__list--center
					a(href="https://www.facebook.com/igor.shvedun" target="_blank").social__list-item.fb
					a(href="https://www.instagram.com/igorshvedun/" target="_blank").social__list-item.instagram
					a(href="https://t.me/Zdes_Seychas").social__list-item.other
		.section__row-3
			.quote
				.quote-text Забота о своем здоровье становится важнейшим приоритетом в современном мире. Мы делаем все возможное, чтобы создавать островки экологичных продуктов и комфортных рыночных отношений.
		.section__row-4
			.signature
				img(src="img/section/about_me/signature3.jpg", alt="")