.delivery-modal
	.delivery__list.animated
		.delivery__list-item
			.delivery-title В условиях карантина! курьерская доставка на дом от новой почты.
			.delivery-img
				img(src="img/section/delivery/delivery.png", alt="")
		.delivery__list-item 
			.delivery-description Стоимость курьерской доставки на дом:
		.delivery__list-item 
			.delivery-text Заказдо 1500 грн. - 70 грн. доставка.
			.delivery-text Заказ от 1500 - 2000 грн. - 30 грн. доставка.
			.delivery-text Заказ от 2000 грн. - доставка за наш счет.
		button.button.button-thanks Ознакомился