section.faq#faq
  .container
    .section__row-1
      .faq_box
        .faq_item
          .faq_item_body--img
            img(src="img/section/faq/jar.jpg", alt="молоко + орехи")
          .faq_item_body
            .faq_item_title Как хранить?
            .faq_item_body--text
              ul
                li Орехи должны хранится в закрытой таре без доступа воздуха и попадания солнечных лучей.
                li Кедр храниться в холодильнике.
                li Сухофрукты, кроме изюма, храниться в холодильнике.
                li Срок хранения орехов до 6 мес. Срок хранения кураги 2-3 недели. Изюма 2-3 мес.
        .faq_item
          .faq_item_body--img
            img(src="img/section/faq/nuts.jpg", alt="орехи и сухофрукты")
          .faq_item_body
            .faq_item_title Замачивать орехи и сухофрукты?
            .faq_item_body--text Орехи и сухофрукты после замачивания отдают максимум пользы организму. Для замачивания подходят: миндаль, кешью, фундук, грецкий, сырая фисташка. Сухофрукты можно замачивать все. Для этого - заливаем орехи и сухофрукты на ночь водой. На утро они готовы к употреблению.
        .faq_item
          .faq_item_body--img
            img(src="img/section/faq/milk.jpg", alt="молоко + орехи")
          .faq_item_body
            .faq_item_title Ореховое молоко
            .faq_item_body--text Да, ради этой вкуснятины стоит покупать сырые орехи.)После замачивания сырых орехов из них получается прекрасное и полезное растительное молоко. Берем горсть орехов, добавляем пол чашки воды и взбиваем на блендере. Отжимаем через марлю или ситечко. Божественный напиток готов. Приятного аппетита.