.shop-form
	.shop-form__list
		.shop-form__item
			input(type="text", name="name" value="" pattern="[a-z A-Z а-я А-Я]{3,20}" id="contact_name" maxlength="20" required)
			label(for="contact_name") Ваше имя
		.shop-form__item
			input(type="tel", name="tel" value="" id="contact_phone" required)
			label(for="contact_phone") Ваш телефон
		button(type="submit" name="buy" onclick="dataLayer.push ({'event': 'formSubmitOK'});").button.button__buy Заказать
		.delivery__info При заказе от <span>1500грн</span> - доставка новой почтой Бесплатная.