header.header
	.header__wrapper
		.container
			.header__row-1
				.header-inner
					.header__logo
						img(src="img/header/logo.png", alt="")
					nav.menu
						ul.menu__list
							li.menu__list-item 
								a(href="#product").nav__link Наша продукция
							li.menu__list-item 
								a(href="#aboutme").nav__link О нас
							li.menu__list-item
								a(href="#faq").nav__link Полезности
							li.menu__list-item
								a(href="#feedback").nav__link Отзывы
							li.menu__list-item
								a(href="#contacts").nav__link  Контакты
					a(href="tel:+380935051864").header__phone +38 093 505 18 64
					.lang
						a(href="index.html").ru RU
						a(href="ua.html").ua UA
					button(name="Подробно").burger__menu
			.header__row-2
				.header__info
					.header__info--wrap
						h1.header__info-title Отборные орехи и сухофрукты
						h3.header__tinfo-text Без обработки и консервантов
						a(href="#delivery").button.button-header Полезности
						.header__info-delivery.animated.pulse отправка по Украине от 1500 грн - бесплатно!
					//- .header__info-img