.modal#modal.animated
	.modal__close
	.header-inner.header-inner--modal
		.header__logo
			img(src="img/header/logo.png", alt="")
		nav.menu.menu--modal
			ul.menu__list.menu__list--modal
				li.menu__list-item.menu__list-item--modal
					a(href="#product").nav__link Наша продукция
				li.menu__list-item.menu__list-item--modal
					a(href="#aboutme").nav__link О нас
				li.menu__list-item.menu__list-item--modal
					a(href="#faq").nav__link Полезности
				li.menu__list-item.menu__list-item--modal
					a(href="#feedback").nav__link Отзывы
				li.menu__list-item.menu__list-item--modal
					a(href="#contacts").nav__link Контакты
		a(href="tel:+380935051864").header__phone.header__phone--modal +38 093 505 18 64
	.social.social--modal
		.social__list.social__list--center
			a(href="https://www.facebook.com/orehivkusnosti" target="_blank").social__list-item.fb.social__list-item--modal
			a(href="https://www.instagram.com/igorshvedun/" target="_blank").social__list-item.instagram.social__list-item--modal
			a(href="https://t.me/orehivkusnosti").social__list-item.other.social__list-item--modal
