section.shop#shop-block
	.section__row-1
		.shop__promo
			.shop__promo-item Выбирайте продукцию
				img(src="img/section/shop/icon/checkbox.png", alt="").shop__promo-img
			.shop__promo-item Вес Фасовки
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Данные для заказа
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
			.shop__promo-item Заказать 
				img(src="img/section/shop/icon/arrow.png", alt="").shop__promo-img
				img(src="img/section/shop/icon/bayke.png", alt="").shop__promo-img
			.shop__promo-item Орехи едут к вам!
	.section__row-2
		form(action="contact").ajax-contact-form
			.product#product
				.product__list
					.product__list-item
						.product-description Страна Грузия
						.product-title ФУНДУК СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/funduc.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="ФУНДУК 1кг" ).prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 350 грн
						label
							input(type="checkbox" name="price[]" value="ФУНДУК 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 175 грн
					.product__list-item
						.product-description Страна США
						.product-title МИНДАЛЬ СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/mindal.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="МИНДАЛЬ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 355 грн
						label
							input(type="checkbox" name="price[]" value="МИНДАЛЬ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 180 грн
					.product__list-item
						.product-description Страна Индия / Вьетнам
						.product-title КЕШЬЮ СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/keshq.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="КЕШЬЮ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 390 грн
						label
							input(type="checkbox" name="price[]" value="КЕШЬЮ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 195 грн
					.product__list-item
						.product-description Страна Бразилия
						.product-title БРАЗИЛЬСКИЙ СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/brazil.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="БРАЗИЛЬСКИЙ СЫРОЙ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 450 грн
						label
							input(type="checkbox" name="price[]" value="БРАЗИЛЬСКИЙ СЫРОЙ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 225 грн
					.product__list-item
						.product-description Страна США
						.product-title ФИСТАШКА СЫРАЯ
						.product-photo
							img(src="img/section/shop/product/fistash.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="ФИСТАШКА СЫРАЯ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 480 грн
						label
							input(type="checkbox" name="price[]" value="ФИСТАШКА СЫРАЯ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 240 грн
					.product__list-item
						.product-description Страна Украина
						.product-title ГРЕЦКИЙ СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/gree.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="ГРЕЦКИЙ СЫРОЙ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 220 грн
						label
							input(type="checkbox" name="price[]" value="ГРЕЦКИЙ СЫРОЙ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 110 грн
					.product__list-item
						.product-description Страна Австралия
						.product-title МАКАДАМИЯ  СЫРАЯ
						.product-photo
							img(src="img/section/shop/product/makadamiya.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="МАКАДАМИЯ СЫРАЯ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 920 грн
						label
							input(type="checkbox" name="price[]" value="МАКАДАМИЯ СЫРАЯ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 460 грн
					.product__list-item
						.product-description Страна Мексика
						.product-title ПЕКАН СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/pekan.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="ПЕКАН СЫРОЙ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 590 грн
						label
							input(type="checkbox" name="price[]" value="ПЕКАН СЫРОЙ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 295 грн
					.product__list-item
						.product-description Страна Россия
						.product-title КЕДР СЫРОЙ
						.product-photo
							img(src="img/section/shop/product/kedr.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="КЕДР СЫРОЙ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 690 грн
						label
							input(type="checkbox" name="price[]" value="КЕДР СЫРОЙ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 340 грн
					.product__list-item
						.product-description Страна Узбекистан
						.product-title ИЗЮМ Натуральный
						.product-photo
							img(src="img/section/shop/product/izum.jpg",   alt="")
						label
							input(type="checkbox" name="price[]" value="ИЗЮМ НАТУРАЛЬНЫЙ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 195 грн
						label
							input(type="checkbox" name="price[]" value="ИЗЮМ НАТУРАЛЬНЫЙ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 100 грн
					.product__list-item
						.product-description Страна Турция
						.product-title КУРАГА Натуральная
						.product-photo
							img(src="img/section/shop/product/kuraga.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="КУРАГА НАТУРАЛЬНАЯ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 195 грн
						label
							input(type="checkbox" name="price[]" value="КУРАГА НАТУРАЛЬНАЯ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 100 грн
					.product__list-item
						.product-description Страна Молдавия
						.product-title Чернослив
						.product-photo
							img(src="img/section/shop/product/finik2.jpg",  alt="")
						label
							input(type="checkbox" name="price[]" value="ЧЕРНОСЛИВ 1кг").prodcut-price
							i.far.fa-square
							span.product-tara 1кг / 140 грн
						label
							input(type="checkbox" name="price[]" value="ЧЕРНОСЛИВ 0.5кг").prodcut-price
							i.far.fa-square
							span.product-tara 500г / 70 грн
			.section__row-2
				.container
					.order
						.order__list
							.order__list-item
							.order__list-item--note
								include ../blocks/form.pug
							.order__list-item
								.order__list-text Поставьте галочки напротив выбранной продукции.
								.order__list-text Заполните форму и нажмите кнопку “Заказать”.
								.order__list-text Мы свяжемся с вами для уточнения деталей доставки.