section.slogan
	.container
		.section__row-1
			.slogan-box
				.slogan-box__list
					.slogan-box__list-item
						.slogan-box--title Живые продукты
						.slogan-box--text Сырые орехи. Натуральные сухофрукты. Без обработки.
					.slogan-box__list-item
						.slogan-box--title Удобная доставка
						.slogan-box--text Доставим курьером или Новой почтой в короткий срок.
					.slogan-box__list-item
						.slogan-box--title Красивая упаковка
						.slogan-box--text Станет приятным, красивым подарком, даже для твоего гуру.
					.slogan-box__list-item
						.slogan-box--title Хорошая энергетика
						.slogan-box--text Об этом мы тоже заботимся ;)